Flight_Server/Flight_Server/Web References/localhost/FlightsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://flights.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://flights.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Web-сервис для работы с клиентами</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://flights.com/">
      <s:element name="BuyTicket">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="departure" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="arrival" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="surname" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuyTicketResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetAllFlights">
        <s:complexType />
      </s:element>
      <s:element name="GetAllFlightsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllFlightsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetArrivalCitiesByDeparture">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="departure" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetArrivalCitiesByDepartureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetArrivalCitiesByDepartureResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="surname" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddCustomerResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetCustomers">
        <s:complexType />
      </s:element>
      <s:element name="GetCustomersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCustomersResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomerFlights">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="customerId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomerFlightsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCustomerFlightsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="surname" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCustomerResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetFlightsCities">
        <s:complexType />
      </s:element>
      <s:element name="GetFlightsCitiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFlightsCitiesResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFlightPrice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="departure" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="arrival" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFlightPriceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetFlightPriceResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="BuyTicketSoapIn">
    <wsdl:part name="parameters" element="tns:BuyTicket" />
  </wsdl:message>
  <wsdl:message name="BuyTicketSoapOut">
    <wsdl:part name="parameters" element="tns:BuyTicketResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllFlightsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllFlights" />
  </wsdl:message>
  <wsdl:message name="GetAllFlightsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllFlightsResponse" />
  </wsdl:message>
  <wsdl:message name="GetArrivalCitiesByDepartureSoapIn">
    <wsdl:part name="parameters" element="tns:GetArrivalCitiesByDeparture" />
  </wsdl:message>
  <wsdl:message name="GetArrivalCitiesByDepartureSoapOut">
    <wsdl:part name="parameters" element="tns:GetArrivalCitiesByDepartureResponse" />
  </wsdl:message>
  <wsdl:message name="AddCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:AddCustomer" />
  </wsdl:message>
  <wsdl:message name="AddCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:AddCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="GetCustomersSoapIn">
    <wsdl:part name="parameters" element="tns:GetCustomers" />
  </wsdl:message>
  <wsdl:message name="GetCustomersSoapOut">
    <wsdl:part name="parameters" element="tns:GetCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="GetCustomerFlightsSoapIn">
    <wsdl:part name="parameters" element="tns:GetCustomerFlights" />
  </wsdl:message>
  <wsdl:message name="GetCustomerFlightsSoapOut">
    <wsdl:part name="parameters" element="tns:GetCustomerFlightsResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateCustomer" />
  </wsdl:message>
  <wsdl:message name="UpdateCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="GetFlightsCitiesSoapIn">
    <wsdl:part name="parameters" element="tns:GetFlightsCities" />
  </wsdl:message>
  <wsdl:message name="GetFlightsCitiesSoapOut">
    <wsdl:part name="parameters" element="tns:GetFlightsCitiesResponse" />
  </wsdl:message>
  <wsdl:message name="GetFlightPriceSoapIn">
    <wsdl:part name="parameters" element="tns:GetFlightPrice" />
  </wsdl:message>
  <wsdl:message name="GetFlightPriceSoapOut">
    <wsdl:part name="parameters" element="tns:GetFlightPriceResponse" />
  </wsdl:message>
  <wsdl:portType name="FlightsServiceSoap">
    <wsdl:operation name="BuyTicket">
      <wsdl:input message="tns:BuyTicketSoapIn" />
      <wsdl:output message="tns:BuyTicketSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllFlights">
      <wsdl:input message="tns:GetAllFlightsSoapIn" />
      <wsdl:output message="tns:GetAllFlightsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetArrivalCitiesByDeparture">
      <wsdl:input message="tns:GetArrivalCitiesByDepartureSoapIn" />
      <wsdl:output message="tns:GetArrivalCitiesByDepartureSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddCustomer">
      <wsdl:input message="tns:AddCustomerSoapIn" />
      <wsdl:output message="tns:AddCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomers">
      <wsdl:input message="tns:GetCustomersSoapIn" />
      <wsdl:output message="tns:GetCustomersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerFlights">
      <wsdl:input message="tns:GetCustomerFlightsSoapIn" />
      <wsdl:output message="tns:GetCustomerFlightsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <wsdl:input message="tns:UpdateCustomerSoapIn" />
      <wsdl:output message="tns:UpdateCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFlightsCities">
      <wsdl:input message="tns:GetFlightsCitiesSoapIn" />
      <wsdl:output message="tns:GetFlightsCitiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFlightPrice">
      <wsdl:input message="tns:GetFlightPriceSoapIn" />
      <wsdl:output message="tns:GetFlightPriceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FlightsServiceSoap" type="tns:FlightsServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuyTicket">
      <soap:operation soapAction="http://flights.com/BuyTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFlights">
      <soap:operation soapAction="http://flights.com/GetAllFlights" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArrivalCitiesByDeparture">
      <soap:operation soapAction="http://flights.com/GetArrivalCitiesByDeparture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCustomer">
      <soap:operation soapAction="http://flights.com/AddCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomers">
      <soap:operation soapAction="http://flights.com/GetCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerFlights">
      <soap:operation soapAction="http://flights.com/GetCustomerFlights" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <soap:operation soapAction="http://flights.com/UpdateCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFlightsCities">
      <soap:operation soapAction="http://flights.com/GetFlightsCities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFlightPrice">
      <soap:operation soapAction="http://flights.com/GetFlightPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FlightsServiceSoap12" type="tns:FlightsServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuyTicket">
      <soap12:operation soapAction="http://flights.com/BuyTicket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFlights">
      <soap12:operation soapAction="http://flights.com/GetAllFlights" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArrivalCitiesByDeparture">
      <soap12:operation soapAction="http://flights.com/GetArrivalCitiesByDeparture" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCustomer">
      <soap12:operation soapAction="http://flights.com/AddCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomers">
      <soap12:operation soapAction="http://flights.com/GetCustomers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerFlights">
      <soap12:operation soapAction="http://flights.com/GetCustomerFlights" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <soap12:operation soapAction="http://flights.com/UpdateCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFlightsCities">
      <soap12:operation soapAction="http://flights.com/GetFlightsCities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFlightPrice">
      <soap12:operation soapAction="http://flights.com/GetFlightPrice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FlightsService">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Web-сервис для работы с клиентами</wsdl:documentation>
    <wsdl:port name="FlightsServiceSoap" binding="tns:FlightsServiceSoap">
      <soap:address location="http://localhost:65225/FlightsService.asmx" />
    </wsdl:port>
    <wsdl:port name="FlightsServiceSoap12" binding="tns:FlightsServiceSoap12">
      <soap12:address location="http://localhost:65225/FlightsService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>