Flight_Server/Flight_Server/Web References/localhost/FlightsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://flights.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://flights.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Web-сервис для работы с клиентами</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://flights.com/">
      <s:element name="GetCustomerIdByNameAndSurname">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="surname" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomerIdByNameAndSurnameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetCustomerIdByNameAndSurnameResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNumberCustomers">
        <s:complexType />
      </s:element>
      <s:element name="GetNumberCustomersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetNumberCustomersResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="surname" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddCustomerResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetCustomers">
        <s:complexType />
      </s:element>
      <s:element name="GetCustomersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCustomersResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomerFlights">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="customerId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomerFlightsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCustomerFlightsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFlightsCities">
        <s:complexType />
      </s:element>
      <s:element name="GetFlightsCitiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFlightsCitiesResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFlightPrice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="departure" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="arrival" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFlightPriceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetFlightPriceResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCustomerIdByNameAndSurnameSoapIn">
    <wsdl:part name="parameters" element="tns:GetCustomerIdByNameAndSurname" />
  </wsdl:message>
  <wsdl:message name="GetCustomerIdByNameAndSurnameSoapOut">
    <wsdl:part name="parameters" element="tns:GetCustomerIdByNameAndSurnameResponse" />
  </wsdl:message>
  <wsdl:message name="GetNumberCustomersSoapIn">
    <wsdl:part name="parameters" element="tns:GetNumberCustomers" />
  </wsdl:message>
  <wsdl:message name="GetNumberCustomersSoapOut">
    <wsdl:part name="parameters" element="tns:GetNumberCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="AddCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:AddCustomer" />
  </wsdl:message>
  <wsdl:message name="AddCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:AddCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="GetCustomersSoapIn">
    <wsdl:part name="parameters" element="tns:GetCustomers" />
  </wsdl:message>
  <wsdl:message name="GetCustomersSoapOut">
    <wsdl:part name="parameters" element="tns:GetCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="GetCustomerFlightsSoapIn">
    <wsdl:part name="parameters" element="tns:GetCustomerFlights" />
  </wsdl:message>
  <wsdl:message name="GetCustomerFlightsSoapOut">
    <wsdl:part name="parameters" element="tns:GetCustomerFlightsResponse" />
  </wsdl:message>
  <wsdl:message name="GetFlightsCitiesSoapIn">
    <wsdl:part name="parameters" element="tns:GetFlightsCities" />
  </wsdl:message>
  <wsdl:message name="GetFlightsCitiesSoapOut">
    <wsdl:part name="parameters" element="tns:GetFlightsCitiesResponse" />
  </wsdl:message>
  <wsdl:message name="GetFlightPriceSoapIn">
    <wsdl:part name="parameters" element="tns:GetFlightPrice" />
  </wsdl:message>
  <wsdl:message name="GetFlightPriceSoapOut">
    <wsdl:part name="parameters" element="tns:GetFlightPriceResponse" />
  </wsdl:message>
  <wsdl:portType name="FlightsServiceSoap">
    <wsdl:operation name="GetCustomerIdByNameAndSurname">
      <wsdl:input message="tns:GetCustomerIdByNameAndSurnameSoapIn" />
      <wsdl:output message="tns:GetCustomerIdByNameAndSurnameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNumberCustomers">
      <wsdl:input message="tns:GetNumberCustomersSoapIn" />
      <wsdl:output message="tns:GetNumberCustomersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddCustomer">
      <wsdl:input message="tns:AddCustomerSoapIn" />
      <wsdl:output message="tns:AddCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomers">
      <wsdl:input message="tns:GetCustomersSoapIn" />
      <wsdl:output message="tns:GetCustomersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerFlights">
      <wsdl:input message="tns:GetCustomerFlightsSoapIn" />
      <wsdl:output message="tns:GetCustomerFlightsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFlightsCities">
      <wsdl:input message="tns:GetFlightsCitiesSoapIn" />
      <wsdl:output message="tns:GetFlightsCitiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFlightPrice">
      <wsdl:input message="tns:GetFlightPriceSoapIn" />
      <wsdl:output message="tns:GetFlightPriceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FlightsServiceSoap" type="tns:FlightsServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCustomerIdByNameAndSurname">
      <soap:operation soapAction="http://flights.com/GetCustomerIdByNameAndSurname" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNumberCustomers">
      <soap:operation soapAction="http://flights.com/GetNumberCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCustomer">
      <soap:operation soapAction="http://flights.com/AddCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomers">
      <soap:operation soapAction="http://flights.com/GetCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerFlights">
      <soap:operation soapAction="http://flights.com/GetCustomerFlights" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFlightsCities">
      <soap:operation soapAction="http://flights.com/GetFlightsCities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFlightPrice">
      <soap:operation soapAction="http://flights.com/GetFlightPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FlightsServiceSoap12" type="tns:FlightsServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCustomerIdByNameAndSurname">
      <soap12:operation soapAction="http://flights.com/GetCustomerIdByNameAndSurname" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNumberCustomers">
      <soap12:operation soapAction="http://flights.com/GetNumberCustomers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCustomer">
      <soap12:operation soapAction="http://flights.com/AddCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomers">
      <soap12:operation soapAction="http://flights.com/GetCustomers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerFlights">
      <soap12:operation soapAction="http://flights.com/GetCustomerFlights" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFlightsCities">
      <soap12:operation soapAction="http://flights.com/GetFlightsCities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFlightPrice">
      <soap12:operation soapAction="http://flights.com/GetFlightPrice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FlightsService">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Web-сервис для работы с клиентами</wsdl:documentation>
    <wsdl:port name="FlightsServiceSoap" binding="tns:FlightsServiceSoap">
      <soap:address location="http://localhost:65225/FlightsService.asmx" />
    </wsdl:port>
    <wsdl:port name="FlightsServiceSoap12" binding="tns:FlightsServiceSoap12">
      <soap12:address location="http://localhost:65225/FlightsService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>